In [1]:
import pandas as pd

In [2]:
Bicycle_Seoul = pd.read_csv('data/Bicycle/final_data.csv', encoding='utf-8')

Bicycle_Seoul

,대여시간,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,0,영등포구청역 1번출구,정기권,F,10대이하,1,31.27,0.39,1.68,155,2017,1
1,0,신한은행 안국역지점 옆,정기권,F,20대,1,47.32,0.55,2.39,15,2017,1
2,0,탑골공원 앞,정기권,F,20대,1,57.92,0.52,2.25,13,2017,1
3,0,홍연2교옆,정기권,F,20대,1,133.29,1.53,6.60,43,2017,1
4,0,삼각지역 4번출구 앞,정기권,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...
41511134,23,가좌삼거리,일일권,M,30대,1,354.51,1.23,5.00,13,2020,12
41511135,23,비전교회 앞,일일권,M,30대,1,354.51,1.23,5.00,52,2020,12
41511136,23,상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
41511137,23,상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
41511138,23,홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12